 .u-section-1 {
  background-image: url("images/8799ead8fb4b1c6f4dea6de509371501f60328e56a61e11c30c4621f2fd55efe4b31ed09f9b5ef4e2fe8a76bce6596fcbfcce901899fc824d896b1_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 648px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 85px 0 60px 746px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 564px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 546px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 326px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-left: 146px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }
}